*{
    margin: 0;
    padding: 0;
}
.search-icon{
    position: absolute;
    left: 30px;
    top: 20px;
}
.span{
    color:#2F6CE5;
}
.picture{
    position: relative;
}
.comp-text{
    color: white;
    position: absolute;
    top: 66%;
    left: 16%;
}
.content{
    display: flex;
}
.container{
    display: flex;
}
.container > ul{
    display: flex;
    list-style: none;
    gap: 3rem;
    margin-top: 2rem;
    font-weight: 600;
}
.add-buttons{
    display: flex;
    justify-content: end;
}
.icon-btn{
    position: relative;
    top: 13px;
    right: 170px;
}
.profile{
    display: flex;
    margin-top: 2rem;
}
.svg-icons{
    position: absolute;
    right: 2.5rem;
    bottom: 2rem;
}
.eye-svg{
    margin-right: 1rem;
}
.share-svg{
    margin-left: 4rem;
    background-color: #EDEEF0;
    padding: 0.5rem
}
.dot-png{
    position: absolute;
    right: 2.5rem;
    top: 21rem;
}
.calander{
    display: flex;
    margin-bottom: 1rem;
}
.date{
    position: relative;
    top: 3px;
    left: 0.5rem;
}
.location-svg{
    margin-left: 5rem;
}
.btn-color{
    color: #E56135;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.color{
    color: #02B875;
}
.three-dot{
    background-color: #BFBFC0;
    border-radius: 3px;
}
.drop-menu{
    position: absolute;
    right: 2.5rem;
}
.dot{
    position: absolute;
    top: 3.5rem;
}
.posts{
    margin-bottom: 2rem;
}
.side-row{
    display: flex;
    position: absolute;
    top: 50rem;
    right: 20rem;
}
.pencil-icon{
    position: relative;
    left: 8rem;
}
.info{
    display: flex;
    position: absolute;
    top: 54rem;
    right: 11.2rem;
}
.pg-info{
    position: relative;
    top: 1.2rem;
    left: 0.7rem;
}